<div class="row">
    <div class="col-sm-12">
      <app-card cardTitle="Espace Vehicule">
        <div class="row">
          <div class="col-4">
            <form (ngSubmit)="addVehicle()">
              <div class="form-group">
                <label for="marqueVehicule">Marque</label>
                <input type="text" class="form-control" id="marqueVehicule" [(ngModel)]="brand" name="marque" placeholder="Marque">
              </div>
            
              <div class="form-group">
                <label for="modeleVehicule">Modèle</label>
                <input type="text" class="form-control" id="modeleVehicule" [(ngModel)]="model" name="modele" placeholder="Modele">
              </div>
            
              <div class="form-group">
                <label for="anneeVehicule">Année</label>
                <input type="text" class="form-control" id="anneeVehicule" [(ngModel)]="year" name="annee" placeholder="Annee">
              </div>
              
              <div class="form-group">
                <label for="typeCarburant">Type Carburant</label>
                <select class="form-control" [(ngModel)]="fuelType" name="carburant" id="typeCarburant">
                  <option value="" disabled selected>Sélectionner le type de carburant</option> 
                  <option value="Essence">Essence</option>
                  <option value="Gasoil">Gasoil</option>
                </select>
              </div>
              <button type="submit" class="btn btn-primary">Ajouter</button>
            </form>
            
          </div>

          <div class="col-8">
            <div class="row">
              <div class="col-4">
                <input type="text" class="form-control" id="rechercher" placeholder="Rechercher">
              </div>
              <div class="col-2">
                <select id="status" class="form-control">
                  <option selected>Status</option>
                  <option>Aucun</option>
                  <option>En attente</option>
                  <option>Reparation</option>
                </select>
              </div>
              <div class="col-2">
                <input type="date" class="form-control" id="dateDebutFilter">
              </div>
              <div class="col-2">
                <input type="date" class="form-control" id="dateFinFilter">
              </div>
              <div class="col-2">
                <button type="button" class="btn btn-primary">Valider</button>
              </div>
            </div>
            <div class="row">
              <table class="table table-hover">
                <thead>
                  <tr>
                    <th scope="col">Marque</th>
                    <th scope="col">Modèle</th>
                    <th scope="col">Année</th>
                    <th scope="col">Type carburant</th>
                    <th scope="col">Action</th>
  
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let vehicle of vehicles">
                    <td scope="row">{{ vehicle.brand }}</td>
                    <td scope="row">{{ vehicle.model }}</td>
                    <td scope="row">{{ vehicle.year }}</td>
                    <td>{{ vehicle.fuelType }}</td>
                    <td>
                      <button type="button" class="btn btn-warning">Modifier</button>
                      <button (click)="deleteVehicle(vehicle._id)" class="btn btn-danger">Supprimer</button>
                    </td>
                  </tr>
                  <tr *ngIf="vehicles.length === 0">
                    <td colspan="5" class="text-center">No vehicles available</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </app-card>
    </div>
  </div>
  