<div class="container mt-4">
    <div class="card">
      <div class="card-header">
        <h5 class="mb-0">Détails de l'Intervention</h5>
      </div>
      <div class="card-body">
        <div *ngIf="appointmentDetailResponse?.items?.appointmentDetail">
          <div class="row">
            <div class="col-md-6">
              <h4>INFOS VEHICULE</h4>
              <p><strong>Marque:</strong>  {{ appointmentDetailResponse.items.appointmentDetail.vehicleId.brand }}</p>
              <p><strong>Modèle:</strong> {{appointmentDetailResponse.items.appointmentDetail.vehicleId.model}}</p>
              <p><strong>Année:</strong> {{appointmentDetailResponse.items.appointmentDetail.vehicleId.year}}</p>
              <p ><strong >Immatriculation:</strong> {{appointmentDetailResponse.items.appointmentDetail.vehicleId.licensePlate}}</p>
              <p><strong>Kilométrage:</strong><span [style.color]="'red'"> A faire encore</span></p>
              <p><strong>Type carburant:</strong> {{appointmentDetailResponse.items.appointmentDetail.vehicleId.fuelType}}</p>
              <p><strong>Date RDV:</strong> {{ formatDate(appointmentDetailResponse.items.appointmentDetail.date, 'dd/MM/yyyy') }}</p>
            </div>
            <div class="col-md-6">
              <h4>INFOS SERVICE</h4>
              <p><strong>Désignation:</strong> {{appointmentDetailResponse.items.appointmentDetail.serviceTypeId.name}}</p>
              <p><strong>Description:</strong> {{appointmentDetailResponse.items.appointmentDetail.serviceTypeId.description}}</p>
              <p><strong>Interventions:</strong>
                <ul>
                  <li *ngFor="let intervention of appointmentDetailResponse.items.interventionDetail">{{ intervention.name }}</li>
                </ul>
                <p><strong>Mécanicien:</strong> 
                  {{appointmentDetailResponse.items.appointmentDetail.mechanicId.firstName || 'Aucun'}}
                  {{appointmentDetailResponse.items.appointmentDetail.mechanicId.lastName || 'Aucun'}}
                </p>
            </div>
          </div>
          <hr>
          <div class="row">
            <div class="col-md-6">
              <h4>STATUT INTERVENTION </h4>
              <p><strong>Statut:</strong> {{appointmentDetailResponse.items.appointmentDetail.status}} </p>
              <p><strong>Progression:</strong><span > {{ (interventionOtherDetail.progress * 100) | number: '1.2-2' }} %</span></p>
              <p><strong>Total:</strong><span > {{interventionOtherDetail.totalCost}} Ar</span></p>
            </div>
            <div class="col-md-6">
              <h4>ETAPE INTERVENTION </h4>
              <table class="table table-bordered">
                <thead>
                  <tr>
                    <th>Intervention à faire</th>
                    <th>Cout (Ar)</th>
                    <th>Statut</th>
                  </tr>
                </thead>
                <tbody>
                  <tbody>
                    <tr *ngFor="let intervention of interventions">
                      <td>{{intervention.name}}</td>
                      <td>{{intervention.cost}}</td>
                      <td>{{intervention.status}}</td>
                    </tr>
                  </tbody>
              </table>
            </div>
          </div>
          <hr>
        </div>
        <div *ngIf="!appointmentDetailResponse?.items?.appointmentDetail">
          <p>Chargement des détails du rendez-vous...</p>
        </div>

  
        <h4>COMMENTAIRES</h4>
        <div *ngIf="comments.length > 0; else noComments">
          <div *ngFor="let comment of comments" class="card mt-3" 
               [ngClass]="{
                 'mechanic-comment': comment.userId.role === 'mechanic',
                 'client-comment': comment.userId.role === 'client'
               }">
            <div class="card-body">
              <p><strong>{{ comment.userId.firstName }} {{ comment.userId.lastName }}:</strong> {{ comment.comment }}</p>
              <small class="text-muted">Commenté le: {{ comment.createdAt | date:'yyyy-MM-dd HH:mm' }}</small>
            </div>
          </div>
        </div>

      <ng-template #noComments>
        <p>Aucun commentaire à afficher.</p>
      </ng-template>

      <div class="card mt-3">
        <div class="card-body">
          <h5>Laisser un commentaire au mécanicien</h5>
          <form (ngSubmit)="addComment()">
            <div class="mb-3">
              <label for="clientComment" class="form-label">Votre commentaire:</label>
              <textarea [(ngModel)]="newComment" class="form-control" id="clientComment" rows="3"
                placeholder="Écrivez votre commentaire ici..." [ngModelOptions]="{standalone: true}">
              </textarea>
            </div>
            <button type="submit" class="btn btn-primary">Publier</button>
          </form>
        </div>
      </div>
      <hr>

      <h4>NOTE</h4>
      <div class="card">
        <div class="card-body">
          <p>Évaluer notre service</p>
      
          <!-- Show rating control if no existing score -->
          <div *ngIf="!ratingSubmitted">
            <div class="mb-3">
              <ngb-rating [formControl]="ctrl" [max]="maxRate" [disabled]="ratingSubmitted"></ngb-rating>
            </div>
            <button class="btn btn-sm btn-outline-success" (click)="addAppointmentScore()">Soumettre la note</button>
          </div>
          <div *ngIf="ratingSubmitted">
            <p>Vous avez donné à ce service une note de : <b>{{ existingScore }}</b></p>
            <p class="text-info">Vous avez déjà noté ce service.</p>
          </div>
          <hr />
        </div>
      </div>
      
  </div>
</div>